html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
}
html {
  scroll-behavior: smooth;
  background-image: radial-gradient(
    circle,
    #7b2cbf,
    #4d31a2,
    #262d80,
    #09255c,
    #051937
  );
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

#title {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #e9ecef;
  letter-spacing: 3px;
  margin: 0;
}

.break {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#break_ul {
  box-sizing: border-box;
  min-width: 400px;
  height: 100%;
  width: 35%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  list-style-type: none;
  margin: 0;
  border-radius: 35px;
}

#break_ul li {
  width: 30%;
  height: 85%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

#pomodoro.show,
#short_break.show,
#long_break.show {
  background-image: linear-gradient(
    to bottom,
    #7b2cbf,
    #aa17af,
    #cc009c,
    #e40389,
    #f52675
  );
}

.circle {
  height: 52vh;
  width: 52vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  border: 20px solid;
  border-color: #2a0052;
}

.inner_circle {
  height: 48vh;
  width: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
}

.start_container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.timer_container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start {
  height: 100%;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 7px;
  margin: 0;
  text-align: center;
  color: #dee2e6;
}

#start.hide {
  display: none;
}

#pause {
  display: none;
  position: absolute;
  height: auto;
  width: 75%;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
  font-size: 1.4rem;
  letter-spacing: 7px;
  margin: 0;
  text-align: center;
  color: #dee2e6;
}

#pause.show {
  display: block;
}

#timer {
  will-change: contents;
  font-size: 13vh;
  font-weight: 700;
  color: #e9ecef;
}

#progress_bar_container {
  height: 55vh;
  width: 55vh;
  position: absolute;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  border: none;
  z-index: 0;
  transform: rotate(-88deg);
}

#progress_circle {
  will-change: stroke-dashoffset;
  fill: none;
  stroke: #f52675;
  stroke-width: 13px;
  stroke-dasharray: 270%;
  stroke-dashoffset: 0%;
  width: 100%;
  height: 100%;
}

.img_container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gear_wheel {
  max-width: 45px;
  max-height: 45px;
  cursor: pointer;
  z-index: 3;
}

.settings_container {
  z-index: -1;
  position: absolute;
  width: 80%;
  height: 70%;
  background-color: rgb(99, 185, 185);
  opacity: 0;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 30px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  background-color: #e9ecef;
}

.settings_container h2,
h3 {
  color: #212529;
}

.settings_font_container,
.settings_color_container,
.settings_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 28%;
  border-bottom: 1px solid white;
}

.settings_font_container h3,
.settings_color_container h3 {
  width: 77px;
  font-size: 1rem;
  letter-spacing: 4px;
}

#font1,
#font2,
#font3,
#color1,
#color2,
#color3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
}

#font1,
#font2,
#font3 {
  background-color: #9fa1a3;
}

#font1.show,
#font2.show,
#font3.show {
  background-color: #051937;
}

#font1 {
  font-family: "Prompt";
}

#font2 {
  font-family: "Cormorant";
}

#font3 {
  font-family: "Roboto";
}

#color1 {
  background-color: #471ca8;
}

#color2 {
  background-color: #05a8aa;
}

#color3 {
  background-color: #70e000;
}

#color1.show > img {
  display: block;
}

#color2.show > img {
  display: block;
}

#color3.show > img {
  display: block;
}

#check_mark {
  display: none;
  width: 18px;
  height: 18px;
}

.settings_header img {
  margin-left: auto;
  max-width: 16px;
  max-height: 16px;
  cursor: pointer;
}

.settings_container h2,
h3 {
  margin: 0;
}
.settings_container span {
  margin-left: auto;
}

.settings_container.show {
  z-index: 2;
  opacity: 1;
  transform: translateY(-7%);
}

footer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-top: 5%;
  font-size: 0.6rem;
}

footer a {
  text-decoration: none;
  color: #e9ecef;
}

@media screen and (max-width: 450px) {
  .circle,
  .inner_circle {
    width: 80vw;
    height: 80vw;
    margin-top: 10%;
    margin-bottom: 15%;
  }

  #progress_bar_container {
    width: 82vw;
    height: 82vw;
  }

  #break_ul {
    min-width: 300px;
    width: 90%;
  }

  #break_ul li {
    font-size: 0.9rem;
    max-height: 60px;
    min-height: 50px;
  }

  .timer_container {
    height: 50%;
  }

  #timer {
    font-size: 20vw;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .title {
    margin-top: 3%;
  }

  .circle {
    margin-top: 5%;
  }
  .break {
    height: 12vh;
  }

  #break_ul li {
    height: 100%;
  }

  .timer_container {
    height: 40%;
  }

  .start_container {
    height: 13%;
  }

  #start,
  #pause {
    font-size: 1rem;
  }

  .img_container {
    margin-top: 5%;
  }

  footer {
    margin-top: 16%;
  }
}

@media screen and (min-width: 450px) and (max-width: 620px) and (orientation: portrait) {
  .circle,
  .inner_circle {
    max-width: 72vw;
    max-height: 72vw;
  }

  #progress_bar_container {
    max-width: 75vw;
    max-height: 75vw;
  }

  #timer {
    font-size: 17vw;
  }
}

@media screen and (max-height: 540px) {
  footer {
    visibility: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .settings_container {
    width: 50%;
  }
}
