html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
  background-color: rgba(117, 108, 108, 0.479);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

#title {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}

.break {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#break_ul {
  box-sizing: border-box;
  min-width: 400px;
  height: 100%;
  width: 35%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  border-radius: 35px;
}

#break_ul li {
  box-sizing: border-box;
  border: 2px solid red;
  width: 30%;
  height: 85%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 1.5em;
}

.circle {
  height: 52vh;
  width: 52vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  border: 20px solid rgb(11, 255, 11);
}

.inner_circle {
  height: 48vh;
  width: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
}

.start_container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.timer_container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start {
  height: 100%;
  /* width: 75%; */
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
  font-size: 1.4rem;
  letter-spacing: 7px;
  margin: 0;
  text-align: center;
  border: 1px solid rgb(41, 255, 41);
}

#start.hide {
  display: none;
}

#pause {
  display: none;
  position: absolute;
  height: auto;
  width: 75%;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
  font-size: 1.4rem;
  letter-spacing: 7px;
  margin: 0;
  text-align: center;
}

#pause.show {
  display: block;
}

#timer {
  font-size: 13vh;
}

#progress_bar_container {
  height: 55vh;
  width: 55vh;
  position: absolute;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  border: none;
  z-index: -1;
  transform: rotate(-88deg);
}

#progress_circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 13px;
  stroke-dasharray: 270%;
  stroke-dashoffset: 0%;
  width: 100%;
  height: 100%;
}

.img_container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gear_wheel {
  max-width: 45px;
  max-height: 45px;
}

footer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-top: 5%;
  font-size: 0.7rem;
}

@media screen and (max-width: 450px) {
  .circle,
  .inner_circle {
    width: 80vw;
    height: 80vw;
    margin-top: 10%;
    margin-bottom: 15%;
  }

  #progress_bar_container {
    width: 82vw;
    height: 82vw;
  }

  #break_ul {
    min-width: 300px;
    width: 90%;
  }

  #break_ul li {
    font-size: 1rem;
    max-height: 60px;
    min-height: 50px;
  }

  .timer_container {
    height: 50%;
  }

  #timer {
    font-size: 20vw;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .title {
    margin-top: 3%;
  }

  .circle {
    margin-top: 5%;
  }
  .break {
    height: 12vh;
  }

  #break_ul li {
    height: 100%;
  }

  .timer_container {
    height: 40%;
  }

  .start_container {
    height: 13%;
  }

  #start,
  #pause {
    font-size: 1rem;
  }

  .img_container {
    margin-top: 5%;
  }

  footer {
    margin-top: 16%;
  }
}

@media screen and (min-width: 450px) and (max-width: 620px) and (orientation: portrait) {
  .circle,
  .inner_circle {
    max-width: 72vw;
    max-height: 72vw;
  }

  #progress_bar_container {
    max-width: 75vw;
    max-height: 75vw;
  }

  #timer {
    font-size: 17vw;
  }
}

/* @media screen and (max-height: 700px) {
  .circle,
  .inner_circle {
    width: 55vh;
    height: 55vh;
  }

  #progress_bar_container {
    width: 52vh;
    height: 52vh;
  }
} */
