html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(117, 108, 108, 0.479);
  border: solid red;
}

.title {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  border: solid purple;
}

#title {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  border: 1px solid gold;
}

.break {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  border: solid rgb(255, 255, 255);
}

#break_ul {
  box-sizing: border-box;
  min-width: 400px;
  height: 100%;
  width: 35%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  border-radius: 35px;
  border: solid red;
}

#break_ul li {
  box-sizing: border-box;
  border: 2px solid red;
  width: 30%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.circle {
  height: 52vh;
  width: 52vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  border: 25px solid rgb(11, 255, 11);
}

.inner_circle {
  height: 48vh;
  width: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  border: 5px solid rgb(0, 255, 255);
}

#progress_bar_container {
  height: 55vh;
  width: 55vh;
  position: absolute;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
}

#progress_circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 15px;
  stroke-dasharray: 290%;
  stroke-dashoffset: 0%;
  width: 100%;
  height: 100%;
}

.img_container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px white solid;
}

#gear_wheel {
  max-width: 45px;
  max-height: 45px;
}

footer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-size: 0.7rem;
  border: 3px rgb(44, 19, 185) solid;
}
